:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --padding-left-right: 15px;
}


*{
    margin: 0;
    padding: 0;
}

.f{
    padding-top: 0px;
    width: 100%;
}
#rating-star{
    color: var(--red);
}
.testimonials-heading{
    padding: 60px 30px;
    font-family: var(--font-family-sans-serif);
    color: #dc3545;
    font-weight: 500;
    font-size: 2rem;
}

.page-container{  
    width: 60%;
}

.page-main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.comment-box{
    width: 300px;
    background-color: #f0f1f3;
    padding: 8px 7px;
    height: 110px;
    vertical-align: middle;
    display: table-cell;
}

@media (max-width: 767px){
.comment-box{
    width: 100%;
}}

.star
{
    width: 70px;
}

.tri {
    float: right;
    width: 0;
    height: 0;
    border-top: 60px solid #d1d4d8;
    border-right: 65px solid transparent;
}
span {
    display: inline-block;
    font-family: var(--font-family-sans-serif);
}

/**/
.author {
    margin-top: 10px;
    position: absolute;
    text-transform: capitalize;
}
.testimonial {
    width: 255px + 5px;
    margin: 30px;
}
@media (max-width: 767px){
.testimonial .box {
    width: 100%;
}}

.box {
    width: 300px;
    background-color: #f0f1f3;
    padding: 8px 7px;
    height: 110px;
    vertical-align: middle;
    display: table-cell;
}

em {
    color: #1a77c6;
    font-style: normal;
}
h4 {
    text-align: left;
    color: black;
    margin: 3px;
}

