{% extends 'caddWebsite/base.html' %} 

{% load static %}
{% block linkcss %}
    <title>Contact Form</title>
    
    <link rel="stylesheet" href="{% static 'caddWebsiteMain/contact/contactus.css' %}">
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}


    <div class="cadd-contactus-container">
      <span class="cadd-contactus-big-circle"></span>
      <div class="cadd-contactus-form">
        <div class="cadd-contactus-contact-info">
          <h3 class="cadd-contactus-title">Let's get in touch</h3>
          <p class="cadd-contactus-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
            dolorum adipisci recusandae praesentium dicta!
          </p>

          <div class="cadd-contactus-info">
            <div class="cadd-contactus-information">
              <img  class="cadd-contactus-icon" src="/media/caddWebsiteMain/contactUs/location.png" />
              <p>{{caddBasicDetails.address}}</p>
            </div>
            <div class="cadd-contactus-information">
              <img class="cadd-contactus-icon" src="/media/caddWebsiteMain/contactUs/phone.png" />
              <p>{{caddBasicDetails.phoneNumber}}</p>
            </div>
            <div class="cadd-contactus-information">
              <img class="cadd-contactus-icon" src="/media/caddWebsiteMain/contactUs/email.png" />
              <p>{{caddBasicDetails.email}}</p>
            </div>
          </div>

          <div class="cadd-contactus-social-media">
            <p>Connect with us :</p>
            <div class="cadd-contactus-social-icons">
              <a href="{{caddBasicDetails.facebook}}">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="{{caddBasicDetails.twitter}}">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="{{caddBasicDetails.instagram}}">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="{{caddBasicdetails.linkedin}}">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="cadd-contactus-contact-form">
          <span class="cadd-contactus-circle cadd-contactus-one"></span>
          <span class="cadd-contactus-circle cadd-contactus-two"></span>

          <form autocomplete="off" name="'contactForm" method="post" >{% csrf_token %}
            <h3 class="cadd-contactus-title">Contact us</h3>
            <div class="cadd-contactus-input-container">
              <input type="text" name="name" class="cadd-contactus-input" id="name" required/>
              <label for="name">Username</label>
              <span>Username</span>
            </div>
            <div class="cadd-contactus-input-container">
              <input type="email" name="email" class="cadd-contactus-input" id="email" required/>
              <label for="email">Email</label>
              <span>Email</span>
            </div>
            <div class="cadd-contactus-input-container">
              <input type="tel" name="phone" class="cadd-contactus-input" id="phone" required/>
              <label for="phone">Phone</label>
              <span>Phone</span>
            </div>
            <div class="cadd-contactus-input-container cadd-contactus-textarea">
              <textarea name="subject" class="cadd-contactus-input" id="subject"></textarea>
              <label for="subject">Message</label>
              <span>Message</span>
            </div>
            <input type="submit" value="Send" class="cadd-contactus-btn" />
          </form>
        </div>
      </div>
    </div>
    
    <script >
      const inputs = document.querySelectorAll(".cadd-contactus-input");

function focusFunc() {
  let parent = this.parentNode;
  parent.classList.add("focus");
}

function blurFunc() {
  let parent = this.parentNode;
  if (this.value == "") {
    parent.classList.remove("focus");
  }
}

inputs.forEach((input) => {
  input.addEventListener("focus", focusFunc);
  input.addEventListener("blur", blurFunc);
});

    </script>
    {% endblock %} 

    {% block footer %} 
    {% include 'footer.html' %} 
    {% endblock %}

    {% block linkjs %}
<script
src="https://kit.fontawesome.com/64d58efce2.js"
crossorigin="anonymous"
></script>
{% endblock %}
