

{% extends 'caddWebsite/base.html' %} 

{% load static %}

{% block linkcss %} 
    <link rel="stylesheet" href="{% static 'caddWebsiteMain/etc/etc.css' %}" />
{% endblock %} 

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <img class="f" src="/media/caddWebsiteMain/etc/etc.jpg" alt="" />

    <div class="page">
      <div class="h">Engineering, Technology & Careers</div>
      <div class="space"></div>
      <div class="p">
        Engineering, Technology Careers - ETC is a CADD Centre initiative that
        was launched with the needs of emerging engineers in mind. While core
        subject knowledge is essential, it is also important for Engineers to
        gain skills in emerging technologies. We believe that engineers can
        benefit greatly from this powerful combination of core and technical
        skills. CADD Centre's ETC initiative aims to bring you a series of
        events such as workshops, webinars, and career fairs.
      </div>
      <div class="space"></div>
      <div class="h">ETC Objectives</div>
      <div class="space"></div>
      <div class="p">
        <ul>
          <li>
            The events will be led by subject matter experts who have been
            hand-picked.
          </li>
          <li>
            The experts will share their expertise and advice on emerging
            engineering skills and employer expectations.
          </li>
          <li>
            The on-site events will also include career fairs with top
            employers.
          </li>
        </ul>
      </div>
      <div class="space"></div>
      <div class="h">Typical on-ground event format</div>
      <div class="space"></div>
      <div class="box">
        <div class="content-box">
          <h3><span class="h">Day 01:</span> Expert led workshops</h3>
          <div class="p">
            Exposure to leading industry domains, overview of key in-demand tech
            skills, concept to prototype sessions led by experts.
          </div>
        </div>
      </div>
      <div class="box">
        <div class="content-box">
          <h3><span class="h">Day 02:</span> Career Fair</h3>
          <div class="p">
            CADD Centre led career fair will have top companies and major
            employers. On the spot offer letters will be given to deserving
            candidates.
          </div>
        </div>
      </div>
      <div class="h">Key Benefits</div>
      <div class="space"></div>
      <div class="p">
        Incredible skill development, extensive knowledge, on-the-spot offer
        letters, participation certificates, resources and more.
      </div>
      <div class="space"></div>
      <div class="h">Previous Webinar</div>
      <div class="space"></div>
      <div class="space"></div>

      <div class="grid">
        <div class="webinar-box">
          <div>
            <img
              class="f"
              src="/media/caddWebsiteMain/etc/1677217122_thumbnail-min.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="b">
            Livewire Webinar - Registration Confirmation - Infrastructure
            Automation on SAP Cloud Platform
            <div class="space"></div>
            <div>Expert Speaker: <span class="p">Ms. Gayathrre</span></div>
            <div class="spac"></div>
            <div>Duration: <span class="p">50 mins</span></div>
            <div class="space"></div>
            <div class="p se">
              <div class="">
                <img class="icon" src="/media/caddWebsiteMain/etc/cal.jpg" alt="" /> 03-06-2023
              </div>
              <div class="">
                <img class="icon" src="/media/caddWebsiteMain/etc/clock.jpg" alt="" /> 4pm
                onwards
              </div>
            </div>

            <div class="butn">
              <button class="bt">Previous Webinar</button>
            </div>
          </div>
        </div>

        <div class="webinar-box">
          <div>
            <img
              class="f"
              src="/media/caddWebsiteMain/etc/1677217122_thumbnail-min.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="b">
            Livewire Webinar - Registration Confirmation - Infrastructure
            Automation on SAP Cloud Platform
            <div class="space"></div>
            <div>Expert Speaker: <span class="p">Ms. Gayathrre</span></div>
            <div class="spac"></div>
            <div>Duration: <span class="p">50 mins</span></div>
            <div class="space"></div>
            <div class="p se">
              <div class="">
                <img class="icon" src="/media/caddWebsiteMain/etc/cal.jpg" alt="" /> 03-06-2023
              </div>
              <div class="">
                <img class="icon" src="/media/caddWebsiteMain/etc/clock.jpg" alt="" /> 4pm
                onwards
              </div>
            </div>

            <div class="butn">
              <button class="bt">Previous Webinar</button>
            </div>
          </div>
        </div>

        <div class="webinar-box">
          <div>
            <img
              class="f"
              src="/media/caddWebsiteMain/etc/1677217122_thumbnail-min.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="b">
            Livewire Webinar - Registration Confirmation - Infrastructure
            Automation on SAP Cloud Platform
            <div class="space"></div>
            <div>Expert Speaker: <span class="p">Ms. Gayathrre</span></div>
            <div class="spac"></div>
            <div>Duration: <span class="p">50 mins</span></div>
            <div class="space"></div>
            <div class="p se">
              <div class="">
                <img class="icon" src="/media/caddWebsiteMain/etc/cal.jpg" alt="" /> 03-06-2023
              </div>
              <div class="">
                <img class="icon" src="/media/caddWebsiteMain/etc/clock.jpg" alt="" /> 4pm
                onwards
              </div>
            </div>

            <div class="butn">
              <button class="bt">Previous Webinar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
{% endblock %} 

{% block footer %} 
{% include 'footer.html' %} 
{% endblock %}