body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ff5151;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    color: #fff;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .course {
    width: 300px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .course img {
    width: 100%;
    height: auto;
  }
  
  .course h2 {
    margin: 10px 0;
    color: #ff5151;
  }
  
  .course p {
    color: #888;
  }
  
  .course ul {
    list-style-type: none;
    padding: 0;
  }
  
  .course ul li {
    margin-bottom: 5px;
  }
  
  .course ul li a{
    text-decoration: none;
    color: black;
  }
  .course ul li a:hover{
    color:red;
  }
  .course .a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5151;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
  }
  